//- @{template_name:template-contacto}@
extends e5ojs-base-layout
block e5ojs_block_global_css_script
    link(rel='stylesheet', href=host_url+'/front-end/css/e5ojs-index.css')
    script(type='text/javascript', src=host_url+'/front-end/js/e5ojs-index.js')
block e5ojs_block_local_css_script
    div(class="container")
        div(class="row")
            div(class="col-xs-12")
                h1= title
                p Welcome to front end #{title}
