extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
block e5ojs_block_content
    div(class="row")
        div(class="col-xs-12")
        div(class="col-xs-12")
            ul(class="collection custom-collection")
                li(class="collection-header")
                    ul#dropdown2.dropdown-content
                      li
                        a(href='#!')
                          | one
                          span.badge 1
                      li
                        a(href='#!')
                          | two
                          span.new.badge 1
                      li
                        a(href='#!') three
                    a.btn.dropdown-button(href='#!', data-activates='dropdown2')
                      | Dropdown
                      i.mdi-navigation-arrow-drop-down.right
                - for (var i = 0; i < 12; ++i) {
                    li(class="collection-item avatar")
                        input(id="filled-in-box-"+i class="filled-in" type="checkbox")
                        label(for='filled-in-box-'+i class="checkbox-center")
                        img(src="https://placeholdit.imgix.net/~text?txtsize=28&bg=066DA9&txtclr=FFFFFF&txt=E5OJS&w=150&h=150&txttrack=0" alt="" class="circle")
                        span(class="title")='Page title - '+i
                        p="Content title"
                        a(href="#!" class="secondary-content")
                            i(class="material-icons")='more_vert'
                - }
