extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
block e5ojs_block_content
            div(class="row")
                div(class="col-xs-12")
                    div(class="card")
                      div(class="card-content")
                        span(class="card-title")='Site options'
                        pre=e5ojs_global_data
                  div(class="col-xs-12")
                      div(class="card")
                        div(class="card-content")
                          span(class="card-title")='Site options'
                          p
                            | I am a very simple card. I am good at containing small bits of information.
                            | I am convenient because I require little markup to use effectively.
